<form class="col-sm-12" action="/checklist/add/new" method="post">
  <label for="add-checklist-item">Add an item to checklist:</label>
  <textarea id="add-checklist-item" type="text" name="textForChecklist"></textarea>
  <button class="bttn-unite bttn-lg bttn-success">Save</button>
</form>
