
<div class="row centered">
    <button class="bttn-unite bttn-md bttn-success"><a href="/checklist/add">Add item to my checklist!</a></button>
</div>
<div class="row">
  <div class="col-sm-12">
    <% checklistArray.forEach((oneListItem, i)=>{ %>
      <div class="row">
        <div class="col-sm-8">
          <p><%=oneListItem%></p>
        </div>
        <div class="col-sm-4">
            <form class="centered" action="/checklist/delete/<%= i %>" method="post">
                <button class="bttn-unite bttn-xs bttn-success">Remove item</button>
            </form>
            <button class="bttn-unite bttn-xs bttn-success"><a href="/checklist/edit/<%= i %>">Edit item</a></button>
        </div>
      </div>
    <% }) %>
  </div>
</div>
