


<div class="row">
  <h2 class="centered">MY CHECKLIST</h2>
  <div class="col-sm-12">
    <% checklistArray.forEach((oneListItem, i)=>{ %>
      <div class="row flex-box-row-between">
        <div class="col-sm-7">
          <p class="study-Q-text inline"><span class="study-Q-header">☆</span> <%=oneListItem%></p>
        </div>
        <div class="col-sm-5">
          <a href="/checklist/edit/<%= i %>"><button class="smaller-answer-button">EDIT ITEM</button></a>
          <form class="inline centered" action="/checklist/delete/<%= i %>" method="post">
              <button class="smaller-answer-button">REMOVE</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="row centered">
      <a href="/checklist/add"><button class="add-checklist-button">ADD ITEM</button></a>
  </div>
</div>
