
<div class="row centered">
    <button class="bttn-unite bttn-md bttn-success"><a href="/checklist/add">Add item to my checklist!</a></button>
</div>
<div class="row">
  <div class="col-sm-12">
    <% checklistArray.forEach((oneListItem)=>{ %>
      <div class="row">
        <div class="col-sm-9">
          <p><%=oneListItem%></p>
        </div>
        <div class="col-sm-3">
            <form class="centered" action="/checklist/delete" method="get">
                <button class="bttn-unite bttn-xs bttn-success">Remove item</button>
            </form>
        </div>
      </div>
    <% }) %>
  </div>
</div>
