<form class="col-sm-12" action="/checklist/update/<%=index%>" method="post">
  <label for="edit-checklist-item">Edit item to checklist:</label>
  <textarea id="edit-checklist-item" type="text" name="editTextForChecklist"><%=previousText%></textarea>
  <button class="bttn-unite bttn-lg bttn-success">Save</button>
</form>
