<div class="row">
  <div class="col-sm-3"></div>
    <form class="col-sm-6 centered" action="/checklist/update/<%=index%>" method="post">
      <label class="edit-checklist-item" for="edit-checklist-item">Edit item on checklist:</label>
      <textarea id="edit-checklist-item" type="text" name="editTextForChecklist"><%=previousText%></textarea>
      <button>SAVE</button>
    </form>
  <div class="col-sm-3"></div>
</div>
