<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Source+Sans+Pro:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bttn.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css">
  </head>

  <body class="container-fluid">
    <header class="container-fluid">

      <nav class="row">
        <a class="nav-text col-sm-1 index-link" href="/">★★★</a>

        <div class="col-sm-3">
        <div role="presentation" class="dropdown">
          <div class="nav-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            STUDY <span class="nav-text caret"></span>
          </div>
          <ul class="dropdown-menu centered">
            <form action="/question/category/Principles%20of%20American%20Democracy/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Principles%20of%20American%20Democracy/0">Principles of American Democracy</a></span>
            </form>
            <form action="/question/category/System%20of%20Government/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/System%20of%20Government/0">System of Government</a></span>
            </form>
            <form action="/question/category/Rights%20and%20Responsibilitiest/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Rights%20and%20Responsibilitiest/0">Rights and Responsibilitiest</a></span>
            </form>
            <form action="/question/category/Colonial%20Period%20and%20Independence/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Colonial%20Period%20and%20Independence/0">Colonial Period and Independence</a></span>
            </form>
            <form action="/question/category/1800s/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/1800s/0">1800</a></span>
            </form>
            <form action="/question/category/Recent%20American%20History%20and%20Other%20Important%20Historical%20Information/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Recent%20American%20History%20and%20Other%20Important%20Historical%20Information/0">Recent American History and Other Important Historical Information</a></span>
            </form>
            <form action="/question/category/Geography/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Geography/0">Geography</a></span>
            </form>
            <form action="/question/category/Symbols/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Symbols/0">Symbols</a></span>
            </form>
            <form action="/question/category/Holidays/0" method="get">
              <span type="button" name="button"><a class="nav-text" href="/question/category/Holidays/0">Holidays</a></span>
            </form>
          </ul>
        </div>
        </div>

        <a class="nav-text col-sm-3 weak-link" href="/weakQuestions">WEAK QUESTIONS</a>
        <a class="nav-text col-sm-3 checklist-link" href="/checklist">MY CHECKLIST</a>

        <div class="col-sm-2">
          <% if (typeof currentUser === 'object') { %>
            <a class="nav-text" href="/logout">Log Out</a>
          <% } else { %>
            <a class="nav-text" href="/signup">Sign Up</a>
            <a class="nav-text" href="/login">Log In</a>
          <% } %>
        </div>

      </nav>
    </header>

  <section id="cotent-wrapper" class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 container ejs-wrapper">
        <%- body %>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </section>

  <footer class="container">
    <div class="row"></div>
  </footer>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/javascripts/front.js"></script>

  </script>
  </body>

</html>
