$light-grey: #F0F3F4; //RGB 240, 243, 244
$red: #B22222;  // RGB 178, 34, 34
$grey: #5D6D7E; //RGB 93, 109, 126
$dark-grey: #2C3E50;
$navy: #16203A;



// Shared classes structure ==================

.flex-box-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-box-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-box-column {
  display: flex;
  flex-direction: column;
}
.width100 {
  width: 100%;
}
.centered {
  text-align: center;
}
.inline {
  display: inline-block;
}

// // / Shared tag styles =======================
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: $light-grey;
  background-image: linear-gradient(135deg, #16203a 2%,#1e3554 100%);
  background-size: auto;
  height: 100vh;
  a{
    text-decoration: none !important;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
  hr {
    margin: 3% 10%;
  }
}

// ALL BUTTONS =========================
button {
  background: none;
  border: 1px solid $light-grey;
  font: inherit;
  font-size: .9em;
  line-height: 1;
  margin: 0.5em;
  padding: .7em 3em;
  color: $light-grey;
  opacity: 0.6;
  transition: 0.25s;
  &:focus {
    outline:0;
  }
  &:hover {
    opacity: 1;
  }
  a {
    text-decoration:none;
    color: $light-grey;
  }
  a:hover, a:focus{
    color: $light-grey !important;
  }
}

button:hover,
button:focus {
  box-shadow: 0 0.4em 0.4em -0.3em var(--hover);
  transform: translateY(-0.20em);
}
