
@import "variables";

//LAYOUT -----------------------------

nav {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid $light-grey;
  .dropdown-menu {
    border-radius: 1px;
    width: 150%;
    background-color: $light-grey;
    padding: 15px;
    font-weight: 400;
    hr {
      margin: 3% 20%;
      border-bottom: .3px solid $grey;
      opacity: .3;
    }
  }
  .nav-text {
    font-weight: 700;
    letter-spacing: 4px;
    color: $light-grey;
    opacity: 0.5;
    text-align: center;
    padding: 1%;
  }
  .nav-text:hover {
    color: white;
    opacity: 1;
    border-bottom: 2px solid $red;
  }

.all-questions-link {
  color: $red;
  &:hover{
    color: $red;
    }
  }
  #logo {
    opacity: 1;
    &:hover{
      color: $red;
    }
  }
  #logout {
    margin-left: 20%;
  }
  #auth-nav {
    button {
      font-size: .8em;
      padding: .7em 1em;
      color: $light-grey;
      opacity: 0.6;
      border: 1px solid $light-grey;
      &:hover{
        opacity: 1;
      }
    }
  }
}

footer {
  width:110%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $navy;
  font-size: .7em;
  margin: 0;
  padding: 0;
  p{
    margin: 0;
    padding: 3px 3px 3px 30px;
  }
}

#cotent-wrapper{
  padding: 20px 0;
}

// HOME PAGE --------------------------
#home-page-landing {
  background-color: $red;
  padding: 12% 0%;
  margin: 3% 0;
}
#home-page-features {
  margin: 5%;
}
#home-page-features-text{
  padding-left: 11%;
  .col-sm-5, .col-sm-6 {
    background-color: $light-grey;
    color: $dark-grey;
    padding: 20px;
    margin: 10px;
    height: 200px;
  }
  p{
  text-align: justify;
  font-size: .8em;
  }
}

// STUDY PAGES----------------------

.question-group{
  p {
    display: inline-block;
  }
  .question{
    font-size: 3em;
    margin-bottom: 5%;
    padding: 0 10%;
  }
  .category-header{
    display: inline-block;
    font-size: .85em;
    padding-right:20px;
    color: $red;
    font-weight: 500;
  }
}

#answers-list, #weak-question-answers {
  text-align: center;
  margin-bottom: 5%;
  .answer-header {
    color: $red;
    font-weight: 500;
  }
  .an-answer {
    font-size: 1.5em;
  }
}

#question {
  h3 {margin: 30px 0;}
}

#answers-list {
  margin-bottom: 30px;
}

// AUTH POP UP ---------------------
.for-auth-view {
  background-color: $red;
  padding: 12% 0;
}

// LOG IN / SIGN UP ----------------
#sign-up-view, #login-view {
  background-color: $red;
  padding: 4% 12%;
  margin-top: 4%;
  label {
    font-weight: 200;
  }
  input {
    width: 100%;
    color: $dark-grey;
    font-weight: 400;
  }
  .social-logins {
    button {
      margin: 20px 0;
      padding: 10px 22px;
    }
  }
}

#login-up-view {
  padding: 1% 8%;
  .col-sm-6 {
    padding: 0 !important;
  }
}

// STUDY LIST ------------------------
.study-Q-header, .add-checklist-item, .edit-checklist-item, .modal-answer-header {
  color: $red !important;
  font-size: 1.1em;
  font-weight: 500;
  display: inline-block;
}

.study-Q-text{
  font-size: 1.1em;
}

.smaller-answer-button {
  font-size: 0.8em;
}

// CHECK LIST CRUD ----------------
textarea {
  width: 80%;
  background-color: $light-grey;
  border: 2px solid $red;
  color: $navy;
  font-weight: bold;
  margin: 5% 0;
}

// ALL CHECKLIST VIEW ------------
.add-checklist-button, .create-new-test {
  color: $red;
  border: 2px solid $red;
  font-weight: bold;
  opacity: .7;
  padding: 10px 50px;
  margin-bottom: 3%;
}

// PRACTICE TEST & MODALS --------------
.modal-answer-header {
  padding-top: 20px;
}
.modal-answer-text {
  color: $navy;
  font-weight: 400;
}

.modal-buttons{
  color: $dark-grey !important;
  border: 2px solid $dark-grey !important;
  font-weight: bold;
  opacity: .8;
  padding: 10px 50px;
  margin-bottom: 15px !important;
}
