
<% if (wrongArray.length === 0){ %>
  <p>You are killing it! No questions you need to review</p>
<% } else { %>
  <div class="row">
    <div class="col-sm-12">
      <% wrongArray.forEach((oneQ)=>{ %>
        <div class="row">
          <div class="col-sm-9">
            <h3>QUESTION: </h3>
            <p><%=oneQ.question%></p>
          </div>
          <div class="col-sm-3 centered">
            <button class="bttn-unite bttn-sm bttn-primary">
              <a href="/weakQuestions/<%=oneQ._id%>">See answer</a>
            </button>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>
