<div class="row">
  <h2 class="centered page-header-tittle">S T U D Y L I S T</h2>
  <div class="col-sm-12">
    <% if (wrongArray.length === 0){ %>
      <div class="centered">
        <h3>You are killing it! No questions to review.</h3>
      </div>
    <% } else { %>

    <% wrongArray.forEach((oneQ)=>{ %>
      <div class="row flex-box-row-between">
        <div class="col-sm-9">
          <p class="study-Q-text inline">
            <span class="study-Q-header">Q:</span>
            <%=oneQ.question%>
          </p>
        </div>
        <div class="col-sm-3 centered flex-box-row-between">
            <a href="/weakQuestions/<%=oneQ._id%>">
              <button class="smaller-answer-button">SEE ANSWER</button>
            </a>
        </div>
      </div>
    <% }) %>

    <% } %>
  </div>
</div>
