<h2>Log In</h2>

<form id="form" action="/login" method="post">
  <label for="email-input"> Username </label>
  <input id="email-input" type="email" name="loginEmail">
  <br>
  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="loginPassword">
  <br>
  <br>
  <button> Log In </button>
</form>

<a href="/auth/facebook">Log In with Facebook</a>
<br>
<a href="/auth/google">Log In with Google</a>
<br>
