<div class="col-sm-2"></div>
<div id="login-view" class="col-sm-8">

  <form class="row" id="form" action="/login" method="post">
    <h2>LOG IN</h2>
    <label for="email-input"> Username </label>
    <br>
    <input id="email-input" type="email" name="loginEmail">
    <br>
    <label for="password-input"> Password </label>
    <br>
    <input id="password-input" type="password" name="loginPassword">
    <br>
    <br>
    <div class="centered">
        <button> LOG IN </button>
    </div>
  </form>

  <div class="row social-logins">
    <div class="col-sm-6 centered">
      <a href="/auth/facebook"><button>WITH FACEBOOK</button></a>
    </div>
    <div class="col-sm-6 centered">
      <a href="/auth/google"><button>WITH GOOGLE</button></a>
    </div>
  </div>

</div>
<div class="col-sm-2"></div>
